<h1>Weather forecast</h1>

<div>

  <mat-form-field>
    <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto" [formControl]="searchCitiesCtrl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getForecast()">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let city of cities" [value]="city">
          <span>{{city.name}}, {{city.countryCode}}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <br>

  <ng-container *ngIf="errorMsg; else elseTemplate">
    {{errorMsg}}
  </ng-container>
</div>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C) Min</th>
      <th>Temp. (C) Max</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureCMin }}</td>
      <td>{{ forecast.temperatureCMax }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>

